<html>
    <head>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <style>
                    img{
                        height:3em;
                        width:3em;
                    }
                    #page-wrapper {
    padding-left: 250px;
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background:white;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  .sidebar-nav li a:hover {
    color: black;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }
  
    </style>
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link border border-light rounded" href="login">로그인 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link border border-light rounded" href="join">회원가입 <span class="sr-only">(current)</span></a>
                              </li>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link border border-light rounded" href="#">아이디/비밀번호 찾기 <span class="sr-only">(current)</span></a>
                              </li>
                        </li>

                      </ul>
                    </div>
                  </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand mr-5" href="#"><img src="jung.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link mr-5  text-center" href="carousel"><strong>홈 화면</strong> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle mr-5 rounded" href="introduce" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>온양정씨 소개</strong>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="introduce"><strong>역사 소개</strong></a>
                            <a class="dropdown-item" href="people"><strong>인물</strong></a>
                            <a class="dropdown-item" href="location"><strong>역사 유적지</strong></a>
                            <a class="dropdown-item" href="root"><strong>종가 내력</strong></a>
                          </div>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link mr-5 " href="board"><strong>자유 게시판</strong> <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item active">
                                    <a class="nav-link mr-5 " href="#"><strong>Q&A</strong><span class="sr-only">(current)</span></a>
                                  </li>
                      </ul>
                    </div>
                  </nav>

                  <div id="page-wrapper">
                        <!-- 사이드바 -->
                        <div id="sidebar-wrapper">
                          <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                              <a href="#">정씨 소개</a>
                            </li>
                            <li><a href="introduce">역사 소개</a></li>
                            <li><a href="people">인물</a></li>
                            <li><a href="location">역사 유적지</a></li>
                            <li><a href="root">종가 내력</a></li>
                          </ul>
                        </div>
                    </div>


                  <div class="container mt-5">
                        <div class="card mt-5 text-center" style="width: 30rem;">
                                <img class="card-img-top" src="bisuk.png" style="width:100%; height:100%; " alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text"><strong>온양정(溫陽鄭)</strong> </p><br><br>
                                  <p class="card-text"><strong>시 조 명</strong></p><br>
                                  <p class="card-text">정보천 (鄭普天) </p><br><br>
                                  <p class="card-text"><strong>시조 유래</strong> </p><br>
                                  <p class="card-text">고려에서 호부 상서(戶部尙書)를 역임하였다. </p><br><br>
                                  <p class="card-text"><strong>본과 창성의 유래</strong> </p><br>
                                  <p class="card-text">문헌(文獻)에 의하면 고려 태조(太祖)가 탕정(湯井 : 온양의 고호)에 왔다가 고을 관리의 공(功)을 가상히 여겨 누대(累代)가 토착 세거(土着世居)한 정씨 일가(鄭氏一家)에게 향직(鄕職)인 호장(戶長)을 제수(除授)했다고 한다.<br> 
                                      그리하여 후손들은 온양(溫陽)을 본관(本貫) 으로 삼아 세계(世系)를 이어왔다.  </p><br><br>
                                      
                                  <p class="card-text"><strong>지명 유래</strong> </p><br>
                                  <p class="card-text">충청남도(忠淸南道) 아산군(牙山郡)에 위치한 지명(地名)으로, 본래 백제(百濟)의 탕정군(湯井郡)을 통일신라 문무왕이 주(州)로 승격시켜 총관(摠管)을 두었다가 후에 군(郡)으로 삼았으며, 고려 초에 온수군(溫水郡)으로 고치고 현종(顯宗) 때 천안부(天安府)에 속하게 하였다. 1172년(명종 2) 현(縣)으로 강등되었고 조선 태종 때 신창현(新昌縣)과 합하여 온창(溫昌)이라 하다가 다시 온수현(溫水縣)이라 하였으며, 세종 때 온양군(溫陽郡)이 되었고, 1913년 아산군(牙山郡)에 속한 온양면(溫陽面)이 된 후 지금의 온양읍에 이르고 있다. </p><br><br>
                                  온양정씨는 조선조에서 상신(相臣) 2명, 공신 1명, 장신 1명, 문과 급제자 43명을 배출했다. 


                                </div>
                              </div>

                      


                  </div>

    </body>

</html>