<!DOCTYPE html>
<html>

<head>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    #page-wrapper {
      padding-left: 250px;
    }

    #sidebar-wrapper {
      position: fixed;
      width: 250px;
      height: 100%;
      margin-left: -250px;
      background: white;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #page-content-wrapper {
      width: 100%;
      padding: 20px;
    }

    /* 사이드바 스타일 */

    .sidebar-nav {
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .sidebar-nav li {
      text-indent: 1.5em;
      line-height: 2.8em;
    }

    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: black;
    }

    .sidebar-nav li a:hover {
      color: black;
      background: rgba(255, 255, 255, 0.2);
    }

    .sidebar-nav>.sidebar-brand {
      font-size: 1.3em;
      line-height: 3em;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link border border-light rounded" href="login">로그인 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link border border-light rounded" href="join">회원가입 <span class="sr-only">(current)</span></a>
        </li>
        </li>
        <li class="nav-item active">
          <a class="nav-link border border-light rounded" href="#">아이디/비밀번호 찾기 <span
              class="sr-only">(current)</span></a>
        </li>
        </li>

      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-5" href="carousel"><img src="jung.png" style="height:3em; width:3em"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5  text-center" href="carousel"><strong>홈 화면</strong> <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-5 rounded" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>온양정씨 소개</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="introduce"><strong>역사 소개</strong></a>
            <a class="dropdown-item" href="people"><strong>인물</strong></a>
            <a class="dropdown-item" href="location"><strong>역사 유적지</strong></a>
            <a class="dropdown-item" href="root"><strong>종가 내력</strong></a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-5 " href="board"><strong>자유 게시판</strong> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-5 " href="#"><strong>Q&A</strong><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">정씨 소개</a>
        </li>
        <li><a href="introduce">역사 소개</a></li>
        <li><a href="people">인물</a></li>
        <li><a href="location">역사 유적지</a></li>
        <li><a href="root">종가 내력</a></li>
      </ul>
    </div>
  </div>


  <div class="container">
    <div class="col lg-8 md-8 sm-8 mt-5">
      <p>온양 정씨 모선사 사당

      </p>
      <br><br>
      <p>* 충남 아산시 영인면 월선리( 忠南 牙山市 靈仁面 月船里)<br>

        * 온양정씨 선조묘역으로 1세부터 11세까지 위폐를 한 곳에 모셔 놓은 사우(祠宇), 시제일 매년 10.1.</p>
    </div>


    <div class="col ">
      <div class="col lg-12 md-12 sm-12">
        <img src="loc1.png" style="width:50%; height:40%;">
      </div>
      <div class="col lg-12 md-12 sm-12">
        <img src="loc2.png" style="width:50%; height:40%;">
      </div>
      <div class="col lg-12 md-12 sm-12">
        <img src="loc3.png" style="width:50%; height:40%;">
      </div>
      <div class="col lg-12 md-12 sm-12">
        <img src="loc4.png" style="width:50%; height:40%;">
      </div>
      <div class="col lg-12 md-12 sm-12">
        <img src="loc7.png" style="width:50%; height:40%;">
      </div>

    </div>

    <div class="col lg-8 md-8 sm-8 mt-5">
      <p>대전 뿌리공원 온양정씨 조형물
      </p>
      <br><br>
      <p>* 대전광역시 중구 침산동 산33 (뿌리공원)
        <br>

        * 온양정씨 상징 조형물이 설치되어있는 효 주제 테마공원</p>
    </div>
    <div class="col lg-12 md-12 sm-12">
      <img src="./" style="width:50%; height:40%;">
    </div>


  </div>

</body>

</html>