<div th:fragment="common_bottom" class="">

    <div class="footer_wrapper">
        <div class="row footline">
        </div>

        <div class="row">

            <div class="footlogo col_4">
                <a href="/home/index" onclick="goPage(this); return false">
                    <img th:src="@{/images/logo.PNG}"> line-height: 30px;
                </a>
            </div>

            <div class="col_9">
                <p>Copyrights © 2015 All Rights Reserved by 전주이씨 대동종약원</p>><br>
                <abbr title="Address"><strong>대동종약원 주소: </strong></abbr>서울특별시 종로구 돈화문로 89 이화빌딩 4층 (우)03131<br>
                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (82) 02-765-2124<br>
                <abbr title="Fax"><strong>Fax:</strong></abbr> (82) 02-742-1676<br>
                <abbr title="Email Address"><strong>Email:</strong></abbr> rfo@rfo.co.kr

            </div>
        </div>

    </div>