<div th:fragment="common_navbar" class="nav_wrapper">
    <div class="gnb">
        <ul>
            <li>
                <a class="nav-link" href="#" th:href="@{/log/login}">
                    <p>로그인</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#" th:href="@{/log/signup}">
                    <p>회원가입</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <p>아이디/비밀번호 찾기</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Logo -->
    <div class="logo">
        <a class="navbar-brand" href="/home"><img src="#" th:src="@{/images/logo.PNG}" style="height:3em; width:3em"></a>
    </div>

    <div class="navbar bg-light navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <p>홈 화면</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">
                    <p>온양정씨 소개</p>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a class="dropdown-item" href="introduce">
                                <p>역사 소개</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="people">
                                <p>인물</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="location">
                                <p>역사 유적지</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="root"><p>종가 내력</p></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="board">
                    <p>자유 게시판</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p>Q&A</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin">
                    <p>회원 관리</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</div>