<div th:fragment="common_navbar" class="nav_wrapper">
    <div class="gnb">
        <ul>
            <li>
                <a class="gnbmenu" href="#" th:href="@{/log/login}">
                    <p>로그인</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="gnbmenu" href="#" th:href="@{/log/signup}">
                    <p>회원가입</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Logo -->
    <div class="logo">
        <a href="/home">
            <img src="#" th:src="@{/images/logo.PNG}">
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="/home">
                    <p>홈 화면</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>온양정씨 소개</p>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a class="dropdown-item" href="introduce">
                                <p>역사 소개</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="people">
                                <p>인물</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="location">
                                <p>역사 유적지</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="root">
                                <p>종가 내력</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="board">
                    <p>자유 게시판</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <p>Q&A</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="admin">
                    <p>회원 관리</p>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</div>