/* 처음 로딩할 때 svg */


/* carousel */

.carousel_wrapper {
    width: 100%;
    height: 600px;
    background: #000;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    display: inline-block;
    width: 100%;
    height: 100%;
}


/* .content1 */

.content1 {
    width: 100%;
    margin-top: 10em;
    padding: 0 5em;
}

.row {
    width: 100%;
}

.content_inner {
    margin: 20px;
    /* border: 1px solid #ddd; */
    height: 30em;
}

.notice {
    height: 100%;
}

.notice p,
.schedule p,
.q_and_a p {
    font-size: 1.4em;
    border-bottom: 3px solid #8283a7;
    padding-bottom: 10px;
}

.more {
    font-size: 0.5em;
    text-align: right;
    display: block;
}

.more a {
    vertical-align: bottom;
}

.content_list {
    width: 100%;
    margin-top: 50px;
}

.card {
    font-size: 0.9em;
}

.card-header {
    padding: 0;
}

.card-header h2 button {
    color: #000;
    font-size: 0.45em;
}

.media-body {
    margin: 4px 0;
}

.media-body h5 {
    font-size: 0.95em;
}


/*footer*/

.footer_wrapper {
    width: 100%;
}

.footline {
    width: 100%;
    height: 50px;
    background: #353848;
    float: right;
    line-height: 50px;
}

.footlogo {
    clear: both;
    width: 20%;
    display: inline-block;
}

.footcontent {
    clear: both;
    width: 78%;
    display: inline-block;
}


/* .logo {
    clear: both;
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
} */