@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

.wrap {
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}